PUBLIC_STUDIO_GATEWAY_URL=http://127.0.0.1:8788

STUDIO_ALLOWED_ORIGINS=http://localhost:4321,https://keepkeen.github.io
STUDIO_GATEWAY_TOKEN=replace-with-a-long-random-token
STUDIO_SESSION_SECRET=replace-with-a-different-long-random-secret
STUDIO_SESSION_TTL_SECONDS=604800

NOTION_TOKEN=secret_xxx
NOTION_VERSION=2026-03-11
NOTION_PARENT_TYPE=page
NOTION_PARENT_ID=replace-with-a-page-or-data-source-id
NOTION_PARENT_LABEL=My Notion Blog

NOTION_PROP_TITLE=
NOTION_PROP_DESCRIPTION=Description
NOTION_PROP_SLUG=Slug
NOTION_PROP_TAGS=Tags
NOTION_PROP_DATE=Date
NOTION_PROP_UPDATED=Updated
NOTION_PROP_DRAFT=Draft
NOTION_PROP_FEATURED=Featured
